services:
  app:
    container_name: coffeeder-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:${PORT}"
    restart: always
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:alpine
    container_name: coffeeder-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - coffeeder_pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: coffeeder-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  coffeeder_pgdata:
